body,p{
    background-color: #ffffff;
    color: #000;
    font-size: x-large;
}
p {
    display: flex;
    flex-wrap: wrap;
    padding: 1% 3%;
    line-height: 1.8;
    letter-spacing: 1.3;
    text-align: start;
}
p a:first-child{
    font-size: xx-large;
    flex: 1 0 calc(100%); /* 每个item占据一半宽度，减去边距 */
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    /*去掉下划线*/
    text-decoration: none;
}

p a {
    flex: 1 0 calc(50% - 10px); /* 每个item占据一半宽度，减去边距 */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0); /* 可视化效果 */
    font-size: x-large;
    text-align: center;
    overflow: hidden;
}

.button-group {
    position: sticky;       /* 固定定位 */
    bottom: 0px;          /* 距离页面底部0像素 */
    display: flex;  
    justify-content: space-around; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
    gap: 10px; /* 在按钮间添加间距 */
    margin-top: 20px; /* 在页面尾端增加顶部间距 */
    padding: 8px; /* 给按钮组添加内边距 */
    background-color: #fff;
    border-radius: 5px;
    font-size: small;
}

.button-group a {
    text-decoration: none; /* 去除下划线 */
    font-size: larger; /* 字体大小 */
    padding: 8px 16px; /* 内边距使按钮有点击区域 */
    border: 2px solid #070000; /* 边框 */
    border-radius: 5px; /* 圆角与按钮组保持一致 */
    transition: all 0.3s ease; /* 添加过渡效果 */
    background-color: #000;
    color: #fff; /* 鼠标悬停时的文字颜色 */
}

.switch-container {
    display: inline-block;
    position: relative;
    width: 2.5em;
    height: 1em;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    border-radius: 0.5em;
    transition: background-color 0.3s;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 28px;
        background-color: #fff;
        border-radius: 15px;
        transition: transform 0.3s;
    }

    &:hover, 
    &:active {
        background-color: #fff;
    }
}

.switch-input:checked + .switch-label {
    background-color: #000;

    &::before {
        transform: translateX(28px);
    }
}

.switch-inner {
    /* 这部分是装饰性的，根据需求可自定义或删除 */
    display: none;
}